<mat-stepper orientation="horizontal" #stepper>
  <mat-step>
    <h2>Personal datails</h2>
    <form [formGroup]="personalForm">
      <ng-template>personal Datails</ng-template>
      <mat-form-field>
        <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstname" required>
  </mat-form-field>
  <br>
  <mat-form-field>
      <mat-label>LastName</mat-label>
      <input matInput fromControlName="lastname" required>
    </mat-form-field>
    <br>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <h2>Contact details</h2>
    <form [formGroup]="contactForm">
      <ng-template>Contact Details</ng-template>
      <input matInput formControlName="email" placeholder="Email">
      <br>
      <input matInput formControlName="phone" placeholder="Phone">
      <br>
      <button mat-button matStepperPrevious>Back</button>
    </form>
  </mat-step>
  <mat-step>
<h2>Action Form</h2>
<form [formGroup]="actionForm">
  <ng-template>Action Details</ng-template>
  <input matInput formControlName="username" placeholder="Username">
  <br>
  <input matInput formControlName="password" placeholder="Password">
  <br>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</form>
  </mat-step>
</mat-stepper>